@model PagedViewModel<Category>

@{
    ViewData["Title"] = "Index";
}

                                    <div class="page-header">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <div class="d-inline">
                                                        <h4>Product Categories</h4>
                                                        <span>lorem ipsum dolor sit amet, consectetur adipisicing
                                                            elit</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="page-header-breadcrumb">
                                                    <ul class="breadcrumb-title">
                                                        <li class="breadcrumb-item"  style="float: left;">
                                                            <a href="../index.html"> <i class="feather icon-home"></i> </a>
                                                        </li>
                                                        <li class="breadcrumb-item"  style="float: left;"><a href="#!">Sizes</a>
                                                        </li>
                                                        <li class="breadcrumb-item"  style="float: left;"><a href="#!">Border Table</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="page-body">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Product Categories</h5>
                                            </div>
                                            <div class="card-block table-border-style">
                                                <div class="table-responsive">
                                                    <table class="table table-framed tree">
                                                       <thead>
                                             <tr>
                               <th>
                                Name
                                </th>
                               <th>
                                Description
                               </th>
                                <th class="operate-cell">
                                   <a class="btn btn-sm btn-success btn-outline-success" asp-action="Create"><i class="fas fa-plus"></i></a>
                                </th>
                               </tr>
                               </thead>
    <tbody>
                        @foreach (var item in Model.Items.Where(c=>c.ParentId==null))
                        {
                            <tr class="treegrid-@item.Id">
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Description
                                </td>
                                <td class="operate-cell">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning btn-outline-warning"><i class="fas fa-pencil-alt"></i></a> 
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-inverse btn-outline-inverse"><i class="fas fa-eye"></i></a> 
                                      <a  onclick="removeEntity(@item.Id, '@item.Name')"
                                       class="btn btn-sm btn-danger btn-outline-danger"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>

                            @foreach(var child in item.GetAllChildren())
                            {
                                <tr class="treegrid-@child.Id treegrid-parent-@child.ParentId">
                                <td>
                                    @Html.DisplayFor(modelItem => @child.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => @child.Description)
                                </td>
                                <td class="operate-cell">
                                    <a asp-action="Edit" asp-route-id="@child.Id" class="btn btn-sm btn-warning btn-outline-warning"><i class="fas fa-pencil-alt"></i></a> 
                                    <a asp-action="Details" asp-route-id="@child.Id" class="btn btn-sm btn-inverse btn-outline-inverse"><i class="fas fa-eye"></i></a> 
                                       <a  onclick="removeEntity(@child.Id, '@child.Name')"
                                       class="btn btn-sm btn-danger btn-outline-danger"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                                
                            }
                        }
    </tbody>
                                                    </table>
                                                </div>
                                                 <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-5">
                                                         <div class="dataTable_info" id="single-select_info" role="status" aria-live="polite">
                                                          Showing 1 to 10 of 57 entries </div> </div>
                                                  <div class="col-xs-12 col-sm-12 col-md-7 p-4">                                            
                                                    @Model.GetPagenation(Url, "Index", "Admin")
                                                       </div>
                                                     </div>
                                            </div>
                                        </div>
                                    </div>
@section addcss{
            <link href="~/lib/jquery-treegrid/css/jquery.treegrid.css" rel="stylesheet"/>
}
    @section addjs{
            <script src="~/lib/jquery-treegrid/js/jquery.treegrid.js"></script>
            <script src="~/lib/sweetalert/sweetalert.min.js"></script>

            <script type="text/javascript">
          $('.tree').treegrid();
            function removeEntity(id,name){
                                              swal({
                                              title: "Are you sure?",
                                              text: `You will not be able to recover this '${name}' Category!`,
                                              icon: "warning",        
                                              confirmButtonClass: "btn-danger",
                                              buttons: ["No", "Yes"]                                     
                                            }).then(function(isConfirm) {
                                              if (isConfirm) {
                                               $.ajax({
                                                        url: '@Url.Action("Delete")',
                                                        type: 'POST',
                                                        data: {id},                                         
                                                        contentType: 'application/x-www-form-urlencoded',                                          
                                                        dataType: 'json',
                                                        beforeSend: function(){
                                                            console.log('sorgudan evvel');
                                                        },
                                                        success: function(response){                                               
                                                            console.log(response);
                                                            if(response.error==false){       
                                        toastr.success(response.message, "Category Deleted", {
                                                        timeOut: 1000,
                                                        fadeOut: 1000,
                                                         onHidden: function () {
                                                        window.location.reload();
                                                         }
                                                         });
                                                                
                                    }
                                    else {
                                    toastr.error(response.message, "Error");
                                    }

                                                        },
                                                        error: function (response){
                                                            console.log(response);
                                                        }

                                                    })
                                                    .always(function(){
                                                        console.log('sorgudan sonra');
                                                    });


                                             }
                                            });
                                            }
            </script>
}