@model BlogPostSingleModel
@{
    ViewData["Title"] = "Details";
    IEnumerable<BlogPostComment> GetComments (BlogPostComment parent)
    {
        if (parent.ParentId == null)
            yield return parent;
        foreach(var item in parent.Children.SelectMany(c =>GetComments(c)))
        {
            yield return item;
        }

    }
}

            <nav class="breadcrumb-nav mt-0 mt-lg-3">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a asp-controller="Home" asp-action="Index"><i class="d-icon-home"></i></a></li>
                        <li><a asp-action="Index"class="active">Blog</a></li>
                        <li>@Model.Post.Title.Substring(0,(Model.Post.Title.Length < 20? Model.Post.Title.Length : 20))...</li>
                    </ul>
                </div>
            </nav>
            <div class="page-content with-sidebar">
                <div class="container">
                    <div class="row gutter-lg">
                        <div class="col-lg-9">
                            <article class="post-single">
                                <figure class="post-media">
                                    <a href="javascript:void(0)">
                                        <img src="~/Uploads/images/blog/single/@Model.Post.ImagePath" width="880" height="450" alt="post" />
                                    </a>
                                </figure>
                                <div class="post-details">
                                    <div class="post-meta">
                                        by <a href="javascript:void(0)" class="post-author">@Model.Post.CreatedByUser?.Name @Model.Post.CreatedByUser?.Surname</a>
                                        on <a href="javascript:void(0)" class="post-date">@Model.Post.PublishedDate?.ToString("MMM d, yyyy")</a>
                                        | <a href="javascript:void(0)" class="post-comment"><span>2</span> Comments</a>
                                    </div>
                                    <h4 class="post-title"><a href="javascript:void(0)">@Model.Post.Title</a></h4>
                                    <div class="post-body mb-7">
                                 @Html.Raw(Model.Post.Body)
                                    </div>

                                    <div class="post-author-detail">
                                        <figure class="author-media">
                                            <a href="javascript:void(0)">
                                                <img src="~/Uploads/images/blog/comments/1.jpg" alt="avatar" width="50"
                                                    height="50">
                                            </a>
                                        </figure>
                                        <div class="author-body">
                                            <div
                                                class="author-header d-flex justify-content-between align-items-center">
                                                <div>
                                                    <span class="author-title">AUTHOR</span>
                                                    <h4 class="author-name font-weight-bold mb-0">@Model.Post.CreatedByUser?.Name @Model.Post.CreatedByUser?.Surname</h4>
                                                </div>
                                                <div>
                                                    <a href="javascript:void(0)" class="author-link font-weight-semi-bold">View all posts
                                                        by @Model.Post.CreatedByUser?.Name @Model.Post.CreatedByUser?.Surname <i class="d-icon-arrow-right"></i></a>
                                                </div>
                                            </div>
                                            <div class="author-content">
                                                <p class="mb-0">Praesent dapibus, neque id cursus faucibus, tortor neque
                                                    egestas auguae, eu vulputate magna eros euerat. Aliquam erat
                                                    volutpat.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Author Detail -->
                                    <div class="post-footer mt-7 mb-3">
                                        <div class="post-tags">
                                            <a href="javascript:void(0)" class="tag">classic</a>
                                            <a href="javascript:void(0)" class="tag">converse</a>
                                        </div>
                                        <div class="social-icons">
                                            <a href="javascript:void(0)" class="social-icon social-facebook" target="_blank"
                                                title="Facebook"><i class="fab fa-facebook-f"></i></a>
                                            <a href="javascript:void(0)" class="social-icon social-twitter" target="_blank"
                                                title="Twitter"><i class="fab fa-twitter"></i></a>
                                            <a href="javascript:void(0)" class="social-icon social-pinterest" target="_blank"
                                                title="Pinterest"><i class="fab fa-pinterest-p"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <nav class="page-nav">
                                <a class="pager-link pager-link-prev" href="javascript:void(0)">
                                    Previous Post
                                    <span class="pager-link-title">Cras iaculis ultricies nulla</span>
                                </a>
                                <a class="pager-link pager-link-next" href="javascript:void(0)">
                                    Go To Post
                                    <span class="pager-link-title">Praesent placerat risus</span>
                                </a>
                            </nav>
                            <!-- End Page Navigation -->
                            <div class="related-posts">
                                <h3 class="title title-simple text-left text-normal font-weight-bold ls-normal">Related
                                    Posts</h3>
                                <div class="owl-carousel owl-theme row cols-lg-3 cols-sm-2" data-owl-options="{
                                    'items': 1,
                                    'margin': 20,
                                    'loop': false,
                                    'responsive': {
                                        '576': {
                                            'items': 2
                                        },
                                        '768': {
                                            'items': 3
                                        }
                                    }
                                }">

                                    <div class="post">
                                        <figure class="post-media">
                                            <a href="javascript:void(0)">
                                                <img src="~/Uploads/images/blog/single/3.jpg" width="380" height="250"
                                                    alt="post" />
                                            </a>
                                            <div class="post-calendar">
                                                <span class="post-day">19</span>
                                                <span class="post-month">JAN</span>
                                            </div>
                                        </figure>
                                        <div class="post-details">
                                            <h4 class="post-title"><a href="post-single.html">20% Off Coupon for
                                                    Week</a>
                                            </h4>
                                            <p class="post-content">Lorem ipsum dolor sit amet,onadipiscing elit, sedsd
                                                doeiu
                                            </p>
                                            <a href="post-single.html"
                                                class="btn btn-link btn-underline btn-primary">Read more<i
                                                    class="d-icon-arrow-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="post">
                                        <figure class="post-media">
                                            <a href="javascript:void(0)">
                                                <img src="~/Uploads/images/blog/single/4.jpg" width="380" height="250"
                                                    alt="post" />
                                            </a>
                                            <div class="post-calendar">
                                                <span class="post-day">27</span>
                                                <span class="post-month">SEP</span>
                                            </div>
                                        </figure>
                                        <div class="post-details">
                                            <h4 class="post-title"><a href="post-single.html">20% Off Coupon for
                                                    Week</a>
                                            </h4>
                                            <p class="post-content">Lorem ipsum dolor sit amet,onadipiscing elit, sedsd
                                                doeiu
                                            </p>
                                            <a href="post-single.html"
                                                class="btn btn-link btn-underline btn-primary">Read more<i
                                                    class="d-icon-arrow-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="post">
                                        <figure class="post-media">
                                            <a href="javascript:void(0)">
                                                <img src="~/Uploads/images/blog/single/5.jpg" width="380" height="250"
                                                    alt="post" />
                                            </a>
                                            <div class="post-calendar">
                                                <span class="post-day">12</span>
                                                <span class="post-month">SEP</span>
                                            </div>
                                        </figure>
                                        <div class="post-details">
                                            <h4 class="post-title"><a href="post-single.html">20% Off Coupon for
                                                    Week</a>
                                            </h4>
                                            <p class="post-content">Lorem ipsum dolor sit amet,onadipiscing elit, sedsd
                                                doeiu
                                            </p>
                                            <a href="post-single.html"
                                                class="btn btn-link btn-underline btn-primary">Read more<i
                                                    class="d-icon-arrow-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="post">
                                        <figure class="post-media">
                                            <a href="javascript:void(0)">
                                                <img src="~/Uploads/images/blog/single/4.jpg" width="380" height="250"
                                                    alt="post" />
                                            </a>
                                            <div class="post-calendar">
                                                <span class="post-day">27</span>
                                                <span class="post-month">SEP</span>
                                            </div>
                                        </figure>
                                        <div class="post-details">
                                            <h4 class="post-title"><a href="post-single.html">20% Off Coupon for
                                                    Week</a>
                                            </h4>
                                            <p class="post-content">Lorem ipsum dolor sit amet,onadipiscing elit, sedsd
                                                doeiu
                                            </p>
                                            <a href="post-single.html"
                                                class="btn btn-link btn-underline btn-primary">Read more<i
                                                    class="d-icon-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comments">
                                <h3 class="title title-simple text-left text-normal font-weight-bold">@Model.Post.Comments.Count() Comments</h3>
                                <ul>
                        @foreach(var comment in Model.Post.Comments.Where(c=>c.ParentId==null))
                        {             <li class="comment" id="c-@comment.Id" data-comment-id="@comment.Id">
                                            <figure class="comment-media">
                                                <a >
                                                    <img src="~/Uploads/images/blog/comments/1.jpg" alt="avatar">
                                                </a>
                                            </figure>
                                            <div class="comment-body">
                                                <div class="comment-user">
                                                    <span class="comment-date">@comment.CreatedDate.ToString("MMMM d, yyyy HH:mm")</span>
                                                    <h4><a >@comment.CreatedByUser?.Name @comment.CreatedByUser?.Surname</a></h4>
                                                </div>

                                                <div class="comment-content mb-2">
                                                    <p>@comment.Comment </p>
                                                </div>
                                                <a  class="btn btn-link btn-reveal-right">REPLY<i
                                                        class="d-icon-arrow-right btn-comment-reply"></i></a>
                                            </div>
                                        </li>
                            @foreach(var subcomment in GetComments(comment)){
                                 <li class="comment comment-sub" id="c-@subcomment.Id" data-comment-id="@subcomment.Id">
                                            <figure class="comment-media">
                                                <a >
                                                    <img src="~/Uploads/images/blog/comments/1.jpg" alt="avatar">
                                                </a>
                                            </figure>
                                            <div class="comment-body">
                                                <div class="comment-user">
                                                    <span class="comment-date">@subcomment.CreatedDate.ToString("MMMM d, yyyy HH:mm")</span>
                                                    <h4><a>@subcomment.CreatedByUser?.Name @subcomment.CreatedByUser?.Surname</a></h4>
                                                </div>

                                                <div class="comment-content mb-2">
                                                    <p>@subcomment.Comment </p>
                                                </div>
                                                <a class="btn btn-link btn-reveal-right btn-comment-reply">REPLY<i
                                                        class="d-icon-arrow-right"></i></a>
                                            </div>
                                        </li>
                            }
                        }
                                </ul>
                            </div>
                            <!-- End Comments -->
                            <div class="reply">
                                <form method="post" id="replyForm">
                                    <div id="replyToComment"></div>
                                    <input type="hidden" name="postId" value="@Model.Post.Id"/>
                                    <textarea id="reply-message" name="Comment"
                                    cols="30" rows="6" 
                                    class="form-control mb-4"
                                        placeholder="Comment *" required></textarea>
                                 
                                    <button type="submit" class="btn btn-primary btn-rounded">POST COMMENT<i
                                            class="d-icon-arrow-right"></i></button>
                                </form>
                            </div>
                            <!-- End Reply -->
                        </div>
                        <aside class="col-lg-3 right-sidebar sidebar-fixed sticky-sidebar-wrapper">
                            <div class="sidebar-overlay">
                                <a class="sidebar-close" href="javascript:void(0)"><i class="d-icon-times"></i></a>
                            </div>
                            <a class="sidebar-toggle"><i class="fas fa-chevron-left"></i></a>
                            <div class="sidebar-content">
                                <div class="sticky-sidebar" data-sticky-options="{'top': 89, 'bottom': 70}">
                                    <div class="widget widget-search border-no mb-2">
                                        <form action="#" class="input-wrapper input-wrapper-inline btn-absolute">
                                            <input type="text" class="form-control" name="search" autocomplete="off"
                                                placeholder="Search in Blog" required />
                                            <button class="btn btn-search btn-link" type="submit">
                                                <i class="d-icon-search"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="widget widget-collapsible border-no">
                                        <h3 class="widget-title">Blog Categories</h3>
                               @Html.Raw(Model.Categories.GetCategories())
                                    </div>
                                    <div class="widget widget-collapsible">
                                        <h3 class="widget-title">Popular Posts</h3>
                                        <div class="widget-body">
                                            <div class="post-col">
                                                <div class="post post-list-sm">
                                                    <figure class="post-media">
                                                        <a href="post-single.html">
                                                            <img src="~/Uploads/images/blog/1_xs.jpg" width="90" height="90"
                                                                alt="post" />
                                                        </a>
                                                    </figure>
                                                    <div class="post-details">
                                                        <div class="post-meta">
                                                            <a href="javascript:void(0)" class="post-date">Nov 22, 2020</a>
                                                        </div>
                                                        <h4 class="post-title"><a href="post-single.html">The Best
                                                                Choice For
                                                                Spending Time</a></h4>
                                                    </div>
                                                </div>
                                                <div class="post post-list-sm">
                                                    <figure class="post-media">
                                                        <a href="post-single.html">
                                                            <img src="~/Uploads/images/blog/2_xs.jpg" width="90" height="90"
                                                                alt="post" />
                                                        </a>
                                                    </figure>
                                                    <div class="post-details">
                                                        <div class="post-meta">
                                                            <a href="javascript:void(0)" class="post-date">Jun 6, 2019</a>
                                                        </div>
                                                        <h4 class="post-title"><a href="post-single.html">Women's
                                                                Fashion
                                                                Summer Dress</a></h4>
                                                    </div>
                                                </div>
                                                <div class="post post-list-sm">
                                                    <figure class="post-media">
                                                        <a href="post-single.html">
                                                            <img src="~/Uploads/images/blog/3_xs.jpg" width="90" height="90"
                                                                alt="post" />
                                                        </a>
                                                    </figure>
                                                    <div class="post-details">
                                                        <div class="post-meta">
                                                            <a href="javascript:void(0)" class="post-date">May 13, 2020</a>
                                                        </div>
                                                        <h4 class="post-title"><a href="post-single.html">Women’s
                                                                Sneaker</a></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget widget-collapsible">
                                        <h3 class="widget-title">About us</h3>
                                        <div class="widget-body">
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                                nonummy nibh euismod tincidunt.</p>
                                        </div>
                                    </div>

                                    <div class="widget widget-posts widget-collapsible">
                                        <h3 class="widget-title">Tag Cloud</h3>
                                        <div class="widget-body">
                                            <a href="javascript:void(0)" class="tag">Bag</a>
                                            <a href="javascript:void(0)" class="tag">Classic</a>
                                            <a href="javascript:void(0)" class="tag">Converse</a>
                                            <a href="javascript:void(0)" class="tag">Leather</a>
                                            <a href="javascript:void(0)" class="tag">Fit</a>
                                            <a href="javascript:void(0)" class="tag">Green</a>
                                            <a href="javascript:void(0)" class="tag">Man</a>
                                            <a href="javascript:void(0)" class="tag">Jeans</a>
                                            <a href="javascript:void(0)" class="tag">Women</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
<style>
    #replyToComment:not(:empty){
        border: 1px solid;
        max-width:100%;
        color:#999;
        padding:20px;
        position:relative;
    }
    #replyToComment li.comment-sub{
        margin: 0px;
    }
    #replyToComment  .remove-selected-comment{
        color:red;
        position:absolute;
        font-size: 2rem;
        right:8px;
        top:0px;
        padding:10px;

    }
</style>

@section Scripts{
    <script>
        $(document).ready(function(){
            $('.btn-comment-reply').click(function(e){
                e.preventDefault();
               $('#replyToComment').html('<a href="javascript:removeReplySelected()" class="remove-selected-comment">&times;</a>').append($(e.currentTarget).closest('.comment').clone());

            });
            $('#replyForm').submit(function(e){
                 e.preventDefault();

                 let formData= new FormData(e.currentTarget);
                 let toCommentId= $('#replyToComment li.comment').data('comment-id');
                 console.log(toCommentId);
                 if(toCommentId!=undefined){
                     formData.set("commentId", toCommentId);
                 }
                 
                 $.ajax({
                    url:'@Url.Action("PostComment")',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    dataType: 'json',
                    success: function(response){
                        console.log(response);
                    },
                    error: function(response){
                        if(response.statusText=="parsererror"){
                             if(toCommentId!=undefined){
                           $(response.responseText).insertAfter($(`#c-${toCommentId}`));
                           $('#replyToComment').html('');
                           e.currentTarget.reset();
                 }
                 else { 
                     $('div.comments ul').append($(response.responseText));
                 }
                        }
                        console.warn(response);
                    }
                 });
            });
        });

        function removeReplySelected(el){
            $('#replyToComment').html('');
        }
    </script>
}